<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Bestaat Al</title>
  <!--link rel='stylesheet' href='stylesheets/bootstrap.min.css'-->
</head>
<body>
    <h1>Bestaat Al</h1>
    <a href='/student/'>studenten</a>
</body>
</html>